@charset "utf-8";

body,p{margin: 0;padding: 0}
#wrap{
	width: 500px;
	/* height: 700px; */
	border: 2px solid #aaa;
	margin: 50px auto 0;
	padding: 20px;
}
#wrap div{
	width: 500px;
	/* height: 60px; */
	border-bottom: 1px solid #ccc;
	padding: 20px 0 10px;
}
.time{
	padding-left:30px; 
}